nav{
text-align:center;
color:green;
background-color:black;
}
#imagem{
padding-top:50px;
padding-bottom:50px;
weidth:50px;
text-align:center;
}


#botao{
padding-bottom:50px;
margin-left:0px;
}
#nome{
background-color:black;
color:white;
text-align:center;
}